<div class="container">
  <div class="row">
    <div class="col-md-3">
     <%= render 'books/list', book: @book, user: @user %>
    </div>
    
    <div class="col-md-8 offset-md-1">
     <h2>Book detail</h2>
      <table class="table">
       <thead>
        <tr>
         <th></th>
         <th>Title</th>
         <th>Opinion</th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td>
          <!--Name-->
          <%= link_to user_path(@user) do %>
           <div>
            <%= attachment_image_tag @user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg" %>
           </div>
           <div>
            <%= @user.name %>
           </div>
          <% end %>
         </td>
         <td>
          <!--タイトル-->
          <%= link_to book_path(@showbook) do %>
          <%= @showbook.title %>
          <% end %>
         </td>
         <td>
          <!--感想-->
          <%= @showbook.body %>
         </td>
         <td>
          <!--Edit-->
          <% if @user.id == current_user.id %>
 　         <%= link_to "Edit", edit_book_path(@showbook), class: 'btn btn-sm btn-success' %>
          <% end %>
         </td>
         <td>
          <!--destroy-->
          <% if @user.id == current_user.id %>
           <%= link_to "Destroy", book_path, method: :delete, class: 'btn btn-sm btn-danger' %>
          <% end %>
         </td>
        </tr>
       </tbody>
      </table>
    </div>
  </div>
</div>

 

