<div class="container">
  <div class="row">
    <div class="col-md-3">
     <%= render 'books/list', book: @book, user: @user %>
    </div>
    
    <div class="col-md-8 offset-md-1">
     <h2>Book detail</h2>
      <table class="table">
       <tr>
         <td>
          <!--Name-->
          <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
          <%= @user.name %>
         </td>
         <td>
          <!--タイトル-->
          <%= @showbook.title %>
         </td>
         <td>
          <!--感想-->
          <%= @showbook.body %>
         </td>
         <td>
          <!--Edit-->
          <% if @user.id == current_user.id %>
 　         <%= link_to "Edit", edit_book_path(@showbook), class: 'btn btn-sm btn-success' %>
          <% end %>
         </td>
         <td>
          <!--destroy-->
          <% if @user.id == current_user.id %>
           <%= link_to "Destroy", book_path, method: :delete, class: 'btn btn-sm btn-danger' %>
          <% end %>
         </td>
       </tr>
      </table>
    </div>
  </div>
</div>

 

